<h1>Welcome to Cat Facts</h1>
<p><%= link_to "Send New Cat Fact", new_message_path, remote: true, id: 'new-fact' %></p>
<p><%= link_to "Contacts", contacts_path %></p>
<hr>
<h3>Sent Facts:</h3>
<ul class="messages-list">
  <%= render @messages %>
</ul>
