<h1>Welcome to Cat Facts</h1>
<%= link_to "Send New Cat Fact", new_message_path %>
<hr>
<h3>Sent Facts:</h3>
<ul>
  <% @messages.each do |message| %>
    <li><%= link_to "To #{message.to}, #{message.created_at.strftime('at %I:%M%p')}", message %></li>
  <% end %>
</ul>
